<div class="well-sm"></div>
<ul class="clearfix list-unstyled" id="js-admin-activity-list">

</ul>
<div class="btn btn-primary hide" id="js-admin-activites-load-more"><%- i18next.t("Load more activities") %></div>