<% 
	var background_color = board.attributes.background_color; 
    var background_picture_url = board.attributes.background_picture_url; 
    var background_pattern_url = board.attributes.background_pattern_url; 
    var preview = ''; 
    if (!_.isEmpty(background_picture_url) && background_picture_url != 'NULL') { 
		background_picture_url = background_picture_url.replace("_XXXX.jpg", "_b.jpg");
    	preview = '<span style="background-image:url(' + background_picture_url + ');" class="background-box show well-lg"></span>'; 
     } else if (!_.isEmpty(background_pattern_url) && background_pattern_url != 'NULL') { 
		background_pattern_url = background_pattern_url.replace("_XXXX.jpg", "_s.jpg");
     	preview = '<span style="background-image:url(' + background_pattern_url + ');" class="background-box show well-lg"></span>'; 
     } else if (!_.isEmpty(background_color) && background_color != 'NULL') { 
     	preview = '<span style="background-color:' + background_color + '" class=" background-box show well-lg"></span>'; 
     }
%>
<li class="js-list-form"><a class="nav-list-item js-show-filters" href="#"><span class="icon-sm icon-filter icon-type"></span> Filter Cards</a></li>
<% if(is_admin || (!_.isUndefined(authuser.user) && authuser.user.role_id == 1)) {%>
	<% if(!_.isEmpty(role_links.where({slug: "view_archived_lists"})) || !_.isEmpty(role_links.where({slug: "view_archived_cards"}))){ %>
	<li><a class="nav-list-item js-archived-items" href="#"><span class="icon-sm icon-archive icon-type"></span> Archived Items</a></li>
	<% } %>
<% } %>
<%if(!_.isUndefined(authuser.user)) {%>
<% if(!_.isEmpty(role_links.where({slug: "view_sync_calendar"}))){ %>
<li class="dropdown js-sync-google-dropdown inner-dropdown"><a href="#" class="js-syn-google-calendar" data-toggle="dropdown"><span class="icon-calendar"></span>Sync with Google Calendar</a>
  <ul class="dropdown-menu arrow">
	<li class="js-dropdown-popup dropdown-popup">
	  <div class="col-xs-12 text-center clearfix">
		<span class="col-xs-10"><strong>URL</strong></span><a class="js-close-sub-popover pull-right" href="#"><i class="icon-remove"></i></a></span></h4>						
	  </div>
	  <div class="col-xs-12 divider"></div>
	  <div class="col-xs-12">
		<form class="normal col-xs-12">
		  <div class="form-group">
			<input type="text" readonly="readonly" value="" class="form-control input-sm js-syn-calendar-response" id="js-select-google-sync-url">
		  </div>
		</form>
	  </div>
	</li>
  </ul>
</li>
<% } %>
<li class="divider"></li>
<% if(is_admin || (!_.isUndefined(authuser.user) && authuser.user.role_id == 1)) {%>
<li><a href="#" class="nav-list-item nav-list-sub-item js-change-background">Change Background</a></li>
<% }%>
<%if(!_.isUndefined(authuser.user) && !is_offline_data) {%>
	<li class="js-sync-google-dropdown inner-dropdown"><a data-toggle="dropdown" href="#" class="js-show-copy-board">Copy Board</a>
	</li>
<% }} %>
<li class="divider"></li>
<li><a href="#" class="js-show-board-modal" data-toggle="modal" data-target="#modalListView">Show Attachments</a></li>
<% if(is_admin || (!_.isUndefined(authuser.user) && authuser.user.role_id == 1)) {%>
<li><a href="#" class="js-additional-settings">Additional Settings</a></li>
<li class="divider"></li>
<li class="dropdown js-open-dropdown inner-dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Close Board</a>
  <ul class="dropdown-menu arrow pull-right">
	<li class="js-dropdown-popup dropdown-popup">
	  <div class="clearfix text-center col-xs-12">
		<span class="col-xs-10"><strong>Close Board</strong></span><a class="js-close-sub-popover pull-right" href="#"><i class="icon-remove"></i></a>						
	  </div>
	  <div class="col-xs-12 divider"></div>
	  <div class="col-xs-12">
		<form class="normal col-xs-12" name="BoardCloseForm" id="BoardCloseForm">
		  <input id="inputBoardClose" name="is_closed" type="hidden" value="true">
		  <p>You can reopen the board by clicking the "Boards" menu from the header, selecting "View Closed Boards", finding the board and clicking "Reopen".</p>
		  <div class="submit">
			<input type="submit" value="Close" id="submitBoardClose" class="btn btn-primary js-close-board">
		  </div>
		</form>
	  </div>
	</li>
  </ul>
</li>
<% } %>