<div class="clearfix text-center col-xs-12">
	<span class="col-xs-10">
		<strong> <%- i18next.t('Labels') %></strong>
	</span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a></div><div class="col-xs-12 divider"></div><div class="col-xs-12"><form name="cardLabelAddForm" class="js-card-label-add-form"><div class="form-group"><input type="text" class="inputCardLabel" name="name" value="<%-labels %>" /><input type="hidden" class="inputHiddenCardLabel" name="hiddenName" value="<%-labels %>" /></div><div class="submit"><input type="submit" value="<%- i18next.t('Save') %>" class="btn btn-primary pull-left"></div></form></div>