<div class="dropdown js-label-dropdown no-print">
<a style="background:<%= background %>;color:#ffffff" class="dropdown-toggle js-show-card-label-form btn btn-default" role="button" data-toggle="dropdown" title="<%- label.get('name') %>" href="#"> <%- label.get('name') %></a>
<ul class="dropdown-menu dropdown-menu-left arrow col-xs-12 js-show-card-label-form-response">
</div>