<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
	<div class="panel-heading lead">Change Password</div>
	<div class="panel-body well-lg">
		<form class="form-horizontal col-xs-12" name="UserChangePasswordForm" id="UserChangePasswordForm">
				<div class="form-group input password required">
					<label class="sr-only control-label" for="inputOldPassword">Old Password</label>
					<input type="password" class="form-control" placeholder="Old Password" id="inputOldPassword" name="old_password" required>
				</div>
				<div class="form-group input password required">
					<label class="sr-only control-label" for="inputPassword">Enter a new Password</label>
					<input type="password" class="form-control" placeholder="Enter a new Password" id="inputPassword" name="password" required>
				</div>
				<div class="form-group input cpassword required">
					<label class="sr-only control-label" for="inputConfirmPassword">Confirm Password</label>
					<input type="password" class="form-control" placeholder="Confirm Password" id="inputConfirmPassword" name="confirm_password" required>
				</div>
				<div class="form-group">
					<label class="sr-only control-label" for="submit2">Change Password</label>
					<input type="submit" class="btn btn-primary col-xs-12" value="Change Password" id="submitChangePassword" >
				</div>
		</form>
		</div>
	</div>
</div>