<div class="clearfix text-center col-xs-12">
	<a href="#" class="js-back-to-list-actions pull-left"></a><span class="col-xs-10"><strong><%- i18next.t('Delete Checklist') %>?</strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<p><%- i18next.t('Deleting a item is permanent and there is no way to get it back.') %> </p>
	<a class="js-delete-item btn  btn-primary" title="<%- i18next.t('Delete Checklist') %>"><%- i18next.t('Delete') %></a>
</div>