<div class="form-group">
	<label for="inputListName" class="col-xs-12 control-label hide"> <%- i18next.t('Name') %>
</label>
	<div class="col-xs-12">
		<textarea name="name" id="checklistEditName" class="form-control js-checklist-edit-form-textarea" required><%- checklist.get('name')%></textarea>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-8">
		<input type="submit" value="<%- i18next.t('Save') %>" class="btn btn-primary"/>
		<a class="js-hide-checklist-edit-form"><i class="icon-remove btn btn-link"></i></a>
	</div>
</div>