<div class="clearfix text-center col-xs-12">
	<span class="col-xs-10"><strong>Options</strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<ul class="list-unstyled" id="js-show-member-form-response-'<%- checklist_item.id%>'">
		<li><a href="#" class="js-show-mention-member-form" title="Mention Member">Mention Member</a></li>
	</ul>
</div>