<div class="clearfix text-center col-xs-12">							
	<a href="#" class="js-back-to-item-options pull-left"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong>Mention Member</strong></span><a href="#" class="js-close-popup pull-right"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<ul class="list-unstyled">
		<li>
		  <form method="post" class="text-center">
			<div class="form-group">
			  <label class="sr-only">Search Member</label>
			  <input type="text" id="inputItemUserSearch" autocomplete="off" placeholder="Search members" name="email" required class="js-item-search-member form-control input-sm">
			</div>
		  </form>
		</li>
		<li class="js-item-member-search-response">
			Search for a person in <%- SITE_NAME %> by name or email address.
		</li>
	</ul>
</div>


