<div class="col-xs-12 text-center clearfix"><span class="col-xs-10"><strong><%- i18next.t("Labels") %></strong></span><a href="#" class="js-close-popover pull-right "><i class="icon-remove"></i></a></div>
<div class="col-xs-12 divider"></div>
<div class="">
	<div class="col-xs-12 full-form">
		<input type="text" class="js-card-label" name="labels" />
	</div>
</div>