<div class="row">
<div class="well-sm"></div>
<div class="col-xs-offset-1 col-xs-10 ">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GD8Nmi1600U" allowfullscreen></iframe>
    </div>
</div>
</div>
</div>