<div class="row">
    <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h9o-_vuHT8w?autoplay=1"  frameborder="0"  allowfullscreen></iframe>
        </div>
    </div>
</div>