<div class="row intro-video-block">
    <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y5Cw8D4GGW4?autoplay=1"  frameborder="0"  allowfullscreen allow="autoplay"></iframe>
        </div>
    </div>
</div>