<div class="row">
<div class="col-xs-12">
    <iframe width="1200" height="480" src="https://www.youtube.com/embed/AQzQeZvq4a8" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <div class="text-center">
        <button type="button" class="btn btn-default js-intro-video-skip">Don't show it again</button>
    </div>
</div>
</div>