<div class="clearfix text-center col-xs-12">	
	<a href="#" class="js-show-labels pull-left"><i class="icon-caret-left "></i></a><span class="col-xs-10"><strong><%- i18next.t("Delete Label?") %></strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<p><%- i18next.t("There is no undo. This will remove this label from all cards and destroy its history.") %></p>	
	<a class="js-label-confirm-delete btn  btn-primary" title="<%- i18next.t('Delete') %>"><%- i18next.t("Delete") %></a>
</div>