<div class="modal fade" id="modalUserActivitiesListView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			<span class="col-xs-10"><strong><% if(!_.isEmpty(list.attributes.full_name)) { %><%- list.attributes.full_name %><% } else { %><%- list.attributes.username %><% } %></span><span> ( <%- list.attributes.username %> ) </strong></span>
			  <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>			  
			</div>			
			<div class="modal-body scrollbar">
				<div>
					<div class="clearfix">
						<ul class="clearfix list-unstyled" id="js-list-user-activities-list"></ul>
					</div>
				</div>
			</div>
		  </div><!-- /.modal-content -->
    </div>
</div>