<div class="modal fade" id="modalUserActivitiesListView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>			  
			<h4 id="myModalLabel" class="modal-title"><strong><%- list.attributes.full_name %></strong> (<%- list.attributes.username %>)</h4>
			</div>			
			<div class="modal-body scrollbar">
				<div>
					<div class="clearfix">
						<ul class="clearfix list-unstyled" id="js-list-user-activities-list"></ul>
					</div>
				</div>
			</div>
		  </div><!-- /.modal-content -->
    </div>
</div>