<% 
	var list_li = '';
	var wip_enabled = false;
	if (!_.isUndefined(APPS) && APPS !== null && !_.isUndefined(APPS.enabled_apps) && APPS.enabled_apps !== null && $.inArray('r_wip_limit',APPS.enabled_apps) !== -1) {
		wip_enabled = true;
	}
	_.each(filtered_lists, function(filtered_list) {
		 if (filtered_list.id == list.attributes.id) {
			 list_li += '<li class="disabled navbar-btn"><a href="#" class="js-no-action text-muted">' + _.escape(filtered_list.attributes.name) + ' '+i18next.t('(current)')+'</a></li>';
		 } else {
			if (wip_enabled &&  !_.isUndefined(filtered_list.attributes.custom_fields) && filtered_list.attributes.custom_fields) {
				var wip_limit_count = JSON.parse(filtered_list.attributes.custom_fields);
				if ((parseInt(wip_limit_count.wip_limit) !== parseInt(filtered_list.attributes.card_count)) || (!_.isUndefined(wip_limit_count.soft_wip_limit) && !_.isEmpty(wip_limit_count.soft_wip_limit))) {
					 list_li += '<li class="navbar-btn"><a href="#" class="js-move-cards js-close-popup" data-move-list-id="' + filtered_list.id + '">' + _.escape(filtered_list.attributes.name) + '</a></li>';
				}
			} else {
				list_li += '<li class="navbar-btn"><a href="#" class="js-move-cards js-close-popup" data-move-list-id="' + filtered_list.id + '">' + _.escape(filtered_list.attributes.name) + '</a></li>';
			}
		 }
	 });
%>
<li class="clearfix text-center col-xs-12">
	<div class="clearfix">
	<a href="#" class="js-back-to-list-actions pull-left" data-list-id="<%- list.id%>"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong><%- i18next.t('Move All Cards in This List') %></strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove"></i></a>
	</div>
</li>
<li class="col-xs-12 divider"></li>
<%= list_li%>