<li class="col-xs-12">
	<a class="show row small well-xs js-delete-organization-member" data-organizations_user_id="<%- organization_users.organizations_user_id %>" href="#">
		<span class="show text-primary navbar-btn h5"><%- i18next.t('Remove from organization') %></span>
		<span class="navbar-btn"><%- i18next.t('Remove all access to the organization.  The member will remain on all their boards in this organization.') %></span>
	</a>
</li>
