<div class="col-xs-12 text-center clearfix">	
	<span class="col-xs-10"><strong><%- i18next.t('Leave organization') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<ul class="list-unstyled">
		<li>
			<a class="js-delete-organization-member" data-organizations_user_id="<%- organization_users.organizations_user_id %>" href="#">
				<span class="show"> <%- i18next.t('Remove all access to the organization.  The member will remain on all their boards in this organization. They will receive a notification.') %></span>
			</a>
		</li>
	</ul>
</div>