<div class="col-xs-12 text-center clearfix">	
	<span class="col-xs-10"><strong><%- i18next.t('Delete Organization') + '?' %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<ul class="list-unstyled">
		<li class="text-left">
				<span class="show"><%- i18next.t('Deleting an organization is permanent. There is no undo.') %></span>
				<div class="col-xs-12 btn-block navbar-btn">
					<a class="js-delete-organization" title="<%- i18next.t('Delete Organization') %>"><span class=" btn btn-primary"><%- i18next.t('Delete') %></span></a>
				</div>
		</li>
	</ul>
</div>