<div class="col-xs-12 text-center clearfix">	
	<span class="col-xs-10"><strong>Delete Organization?</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<ul class="list-unstyled">
		<li class="text-left">
				<span class="show">Deleting an Organization is permanent. There is no undo.</span>
				<div class="col-xs-12 btn-block navbar-btn">
					<a class="js-delete-organization" title="Delete Organization"><span class=" btn btn-primary">Delete</span></a>
				</div>
		</li>
	</ul>
</div>