<div class="row mt5">
    <div class="col-xs-12 text-center">
        <h3><%- i18next.t("You're using open source Community Edition. Please consider upgrading to the Enterprise Edition and support this open source project") %></h3>
    </div>
    <div class="col-xs-12 text-center">
        <a href="http://restya.com/enterprise?utm_source=Restyaboard - <%- SITE_NAME %>&utm_medium=web&utm_campaign=contact&category=contact" target="_blank" title="<%- i18next.t('Upgrade to Enterprise Edition') %>" class="btn btn-primary navbar-btn"><%- i18next.t('Upgrade') %></a>
    </div>
</div>