<% 
	var port = (window.location.port) ? ':'+window.location.port : '';
%>
<div class="dockmodal-phone" title="<%- i18next.t('View in iOS App') %>" id="phone-block">
      <div class="clearfix phone-content">
	<div class="phone-text">
	        <p class="pull-left col-sm-12 col-xs-12"><%- i18next.t('Single unified notifier app to track many Restyaboards.') %></p>
	        <h2 class="pull-left col-sm-12"> <%- i18next.t('Coming soon.....') %></h2>
	</div>          
      </div>
      </div>