<div class="well-sm"></div>
<div class="well-sm"></div>
<div class="well-sm"></div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
    <h2 title="<%- i18next.t('SAML Authentication') %>" class="text-center"><%- i18next.t('SAML Authentication') %></h2>
    <div class="well-sm"></div>
    <div class="js-saml-loader cssloader"></div>
</div>