<% if (name == 'private') {
%>
		<span title="Private" class="icon-lock text-primary"></span><%- i18next.t('Private') %>	
<%	} else if (name == 'public') {
%>
		<span title="Public" class="icon-circle text-primary"></span><%- i18next.t('Public') %>
<%	} else if (!_.isUndefined(data.organization_id)) {
%>
		<span title="Organization" class="icon-group text-primary"></span><%- i18next.t('Organization') %>
<%	} %>