<div class="clearfix">
	<div class="clearfix col-xs-12">
		<a href="#" class="js-back-to-sidebar pull-left btn btn-xs btn-link">
			<i class="icon-caret-left"></i>
		</a>
		<span class="col-xs-10 navbar-btn"><strong><%- i18next.t("Sync with Google Calendar") %></strong></span>
	</div>
	<div class="col-xs-12 divider"></div>
	<div class="col-xs-12">
		<form class="normal col-xs-12">
		  <div class="form-group">
			<p>
				<%= i18next.t('Refer this following url for Google calendar sync %s', { postProcess: 'sprintf', sprintf: ['<a href="https://support.google.com/calendar/answer/37100" target="_blank">https://support.google.com/calendar/answer/37100</a>']}) %>
			</p>
			<input type="text" readonly="readonly" value="" class="form-control input-sm js-syn-calendar-response" id="js-select-google-sync-url">
		  </div>
		</form>
	</div>
</div>