<div class="clearfix text-center">
	<div class="clearfix text-center col-xs-12">
		<a href="#" class="js-back-to-sidebar pull-left btn btn-xs btn-link">
			<i class="icon-caret-left"></i>
		</a>
		<span class="col-xs-10 navbar-btn"><strong>URL</strong></span>
	</div>
	<div class="col-xs-12 divider"></div>
	<div class="col-xs-12">
		<form class="normal col-xs-12">
		  <div class="form-group">
			<input type="text" readonly="readonly" value="" class="form-control input-sm js-syn-calendar-response" id="js-select-google-sync-url">
		  </div>
		</form>
	</div>
</div>