<div class="clearfix text-center col-xs-12">	
	<a href="#" class="js-back-to-sidebar pull-left"><i class="icon-caret-left "></i></a><span class="col-xs-10"><strong><%- i18next.t("Unsubscribe") %></strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<p><%- i18next.t("While unsubscribe, we will not send any email notification for this board.") %></p>	
	<a class="js-unsubscribe-board btn  btn-primary" title="<%- i18next.t('Unsubscribe') %>"><%- i18next.t("Unsubscribe") %></a>
</div>