<li class="js-dropdown-popup dropdown-popup">
	<a href="#" class="<% if (user.attributes.joined_board_count !== 0) {%>js-user-board-list<%}%>">
	<p>On <%- user.attributes.joined_board_count%> <%- i18next.t("Boards") %></p></a></li>