<div class="well-sm"></div>
<form class="col-xs-12" name="UploadForm" id="UploadForm" enctype="multipart/form-data">		
	<div class="form-group">
		<label class="control-label"><% i18next.t('Select csv file') %></label>
		<input name="file" type="file">
	</div>
	<div class="form-group">
		<label class="sr-only  col-sm-4  control-label col-xs-12" for="submit2">Submit</label>
		<input type="submit" class="btn btn-primary" id="submitUpload" value="Upload">
	</div>
</form>