<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
  <div class="panel-heading lead">Register</div>
  <div class="panel-body well-lg">
	<form id="UserRegisterForm" name="UserRegisterForm" class="form-horizontal col-xs-12">
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputEmail">Email</label>
		<input type="email" required name="email" id="inputEmail" class="form-control" placeholder="Email">
	  </div>
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputUsername">Username</label>
		<input type="name" name="username" id="inputUsername" class="form-control" placeholder="Username" required pattern=".{6,15}" title="minimum 6 characters">
	  </div>
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputPassword">Password</label>
		<input type="password" required name="password" id="inputPassword"class="form-control" placeholder="Password" pattern="[A-Za-z0-9\S]{6,15}" title="minimum 6 characters and white space not allowed">
	  </div>
	  <div class="form-group">
		<label class="sr-only ontrol-label" for="submitRegister">Join Now</label>
		<input type="submit" class="btn btn-primary col-xs-12" id="submitRegister" value="Join Now">
	  </div>
	  <ul class="list-inline small text-center">
	  		<%
			  if(!_.isEmpty(role_links.where({slug: "users_login"}))){
			%>
				<li><a href="#/users/login" title="Login" class="text-primary">Login</a></li>
			<%
			  }
			%>
		  <% if(!_.isEmpty(role_links.where({slug: "users_forgotpassword"}))){ %>
		  	<li>|</li>
			<li><a href="#/users/forgotpassword" title="Forgot your password?" class="text-primary">Forgot your password?</a></li>
			
			<% }%>
		</ul>
	</form>
  </div>
</div>
</div>