DirectoryIndex index.html
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	# If installed in local or under a path say /restyaboard	/: (otherwise, doesn't need RewriteBase)
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^client/img/([a-zA-Z_]*)/([a-zA-Z_]*)/([a-zA-Z0-9_\.]*)$ server/php/image.php?size=$1&model=$2&filename=$3 [NC]
	RewriteRule ^ical/([0-9]*)/([a-zA-Z0-9]*).ics$ server/php/ical.php?id=$1&hash=$2 [NC]
	RewriteRule ^client/download/([0-9]*)/([a-zA-Z0-9_\.]*)$ server/php/download.php?id=$1&hash=$2 [NC]
	RewriteRule ^client/oauth_callback/([a-zA-Z0-9_\.]*)/([a-zA-Z0-9_\.]*)$ server/php/oauth_callback.php?plugin=$1&code=$2 [NC]
	RewriteRule ^oauth/authorize$ server/php/authorize.php [NC]
	RewriteRule ^api/(.*)$ server/php/R/r.php?_url=$1 [QSA,L]
</IfModule>