DirectoryIndex index.html index.php
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	# If installed in local or under a path say /restyaboard	/: (otherwise, doesn't need RewriteBase)
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^client/img/([a-zA-Z_]*)/([a-zA-Z_]*)/([a-zA-Z0-9_\.]*)$ server/php/image.php?size=$1&model=$2&filename=$3 [L]
	RewriteRule ^ical/([0-9]*)/([0-9]*)/([a-zA-Z0-9]*).ics$ server/php/ical.php?id=$1&user_id=$2&hash=$2 [L]
	RewriteRule ^download/([0-9]*)/([a-zA-Z0-9_\.]*)$ server/php/download.php?id=$1&hash=$2 [QSA,L]
	RewriteRule ^oauth_callback/([a-zA-Z0-9_\.]*)/([a-zA-Z0-9_\.]*)$ server/php/oauth_callback.php?plugin=$1&code=$2 [L]
	RewriteRule ^oauth/authorize$ server/php/authorize.php [QSA,L]
	RewriteRule ^api/(.*)$ server/php/R/r.php?_url=$1 [QSA,L]
	RewriteRule ^$ client/ [QSA,L]
	RewriteRule ^(css|js|img|font|apps|locales)/(.*)$ client/$1/$2 [QSA,L]
	RewriteRule ^favicon.ico$ client/favicon.ico [L]
	RewriteRule ^manifest.json$ client/manifest.json [L]
	RewriteRule ^apple-touch-icon(.*)$ client/apple-touch-icon$1 [L]
</IfModule>

php_value upload_max_filesize 9G
php_value post_max_size 9G
php_value max_execution_time 200
php_value max_input_time 200
php_value memory_limit 256M