span.flags +span{
	background:none;
	width:auto;
	text-indent:1px;
	padding: 0 3px;
}
span.flags{
	background:url("../img/flags.png") no-repeat scroll 0 0;
	text-indent:-9999em;
	display:block;
	width:18px;
	height:12px;
    margin: 2px 4px 0 0;
	float:left;
}
ol.cities-list li span.flags{
	margin:0;
}
span.flag--{ background-position: 0 0; } 
span.flag-ad{ background-position: 0 -2px; } 
span.flag-ae{ background-position: 0 -15px; } 
span.flag-af{ background-position: 0 -28px; } 
span.flag-ag{ background-position: 0 -41px; } 
span.flag-ai{ background-position: 0 -54px; } 
span.flag-al{ background-position: 0 -67px; } 
span.flag-am{ background-position: 0 -80px; } 
span.flag-an{ background-position: 0 -93px; } 
span.flag-ao{ background-position: 0 -106px; } 
span.flag-aq{ background-position: 0 -119px;  } 
span.flag-ar{ background-position: 0 -132px; } 
span.flag-as{ background-position: 0 -145px;  } 
span.flag-at{ background-position: 0 -158px; } 
span.flag-au{ background-position: 0 -171px; } 
span.flag-aw{ background-position: 0 -184px; } 
span.flag-ax{ background-position: 0 -197px; } 
span.flag-az{ background-position: 0 -210px; } 
span.flag-ba{ background-position: 0 -223px; } 
span.flag-bb{ background-position: 0 -236px; } 
span.flag-bd{ background-position: 0 -249px; } 
span.flag-be{ background-position: 0 -262px; } 
span.flag-bf{ background-position: 0 -275px; } 
span.flag-bg{ background-position: 0 -288px; } 
span.flag-bh{ background-position: 0 -301px; } 
span.flag-bi{ background-position: 0 -314px; } 
span.flag-bj{ background-position: 0 -327px; } 
span.flag-bm{ background-position: 0 -340px; } 
span.flag-bn{ background-position: 0 -353px; } 
span.flag-bo{ background-position: 0 -366px; } 
span.flag-br{ background-position: 0 -379px; } 
span.flag-bs{ background-position: 0 -392px; } 
span.flag-bt{ background-position: 0 -405px; } 
span.flag-bv{ background-position: 0 -418px;  } 
span.flag-bw{ background-position: 0 -431px; } 
span.flag-by{ background-position: 0 -444px; } 
span.flag-bz{ background-position: 0 -457px; } 
span.flag-ca{ background-position: 0 -470px; } 
span.flag-cd{ background-position: 0 -483px;  } 
span.flag-cf{ background-position: 0 -496px; } 
span.flag-cg{ background-position: 0 -509px; } 
span.flag-ch{ background-position: 0 -522px; } 
span.flag-ci{ background-position: 0 -535px; } 
span.flag-ck{ background-position: 0 -548px; } 
span.flag-cl{ background-position: 0 -561px; } 
span.flag-cm{ background-position: 0 -575px; } 
span.flag-cn{ background-position: 0 -588px; } 
span.flag-co{ background-position: 0 -601px; } 
span.flag-cr{ background-position: 0 -614px; } 
span.flag-cs{ background-position: 0 -627px; } 
span.flag-cu{ background-position: 0 -640px; } 
span.flag-cv{ background-position: 0 -653px; } 
span.flag-cy{ background-position: 0 -666px; } 
span.flag-cz{ background-position: 0 -679px; } 
span.flag-de{ background-position: 0 -692px; } 
span.flag-dj{ background-position: 0 -705px;  } 
span.flag-dk{ background-position: 0 -718px; } 
span.flag-dm{ background-position: 0 -731px;  } 
span.flag-do{ background-position: 0 -744px;  } 
span.flag-dz{ background-position: 0 -757px; } 
span.flag-ec{ background-position: 0 -770px; } 
span.flag-ee{ background-position: 0 -783px; } 
span.flag-eg{ background-position: 0 -796px; } 
span.flag-er{ background-position: 0 -809px; } 
span.flag-es{ background-position: 0 -822px; } 
span.flag-et{ background-position: 0 -835px; } 
span.flag-eu{ background-position: 0 -848px; } 
span.flag-fi{ background-position: 0 -861px; } 
span.flag-fj{ background-position: 0 -874px; } 
span.flag-fk{ background-position: 0 -887px; } 
span.flag-fm{ background-position: 0 -899px;  } 
span.flag-fo{ background-position: 0 -912px; } 
span.flag-fr{ background-position: 0 -925px; } 
span.flag-ga{ background-position: 0 -938px; } 
span.flag-gb{ background-position: 0 -951px; } 
span.flag-gd{ background-position: 0 -964px;  } 
span.flag-ge{ background-position: 0 -977px; } 
span.flag-gf{ background-position: 0 -990px; } 
span.flag-gh{ background-position: 0 -1003px;  } 
span.flag-gi{ background-position: 0 -1016px; } 
span.flag-gl{ background-position: 0 -1029px; } 
span.flag-gm{ background-position: 0 -1042px;  } 
span.flag-gn{ background-position: 0 -1055px;  } 
span.flag-gp{ background-position: 0 -1068px; } 
span.flag-gq{ background-position: 0 -1081px;  } 
span.flag-gr{ background-position: 0 -1094px; } 
span.flag-gt{ background-position: 0 -1107px; } 
span.flag-gu{ background-position: 0 -1120px; } 
span.flag-gw{ background-position: 0 -1133px;  } 
span.flag-gy{ background-position: 0 -1146px; } 
span.flag-hk{ background-position: 0 -1159px; } 
span.flag-hm{ background-position: 0 -1172px;  } 
span.flag-hn{ background-position: 0 -1184px;  } 
span.flag-hr{ background-position: 0 -1197px; } 
span.flag-ht{ background-position: 0 -1210px; } 
span.flag-hu{ background-position: 0 -1223px; } 
span.flag-id{ background-position: 0 -1236px; } 
span.flag-ie{ background-position: 0 -1249px; } 
span.flag-il{ background-position: 0 -1262px; } 
span.flag-im{ background-position: 0 -1275px; } 
span.flag-in{ background-position: 0 -1288px; } 
span.flag-io{ background-position: 0 -1301px;  } 
span.flag-iq{ background-position: 0 -1313px; } 
span.flag-ir{ background-position: 0 -1326px; } 
span.flag-is{ background-position: 0 -1339px; } 
span.flag-it{ background-position: 0 -1352px; } 
span.flag-je{ background-position: 0 -1365px; } 
span.flag-jm{ background-position: 0 -1378px; } 
span.flag-jo{ background-position: 0 -1391px; } 
span.flag-jp{ background-position: 0 -1404px; } 
span.flag-ke{ background-position: 0 -1417px; } 
span.flag-kg{ background-position: 0 -1430px; } 
span.flag-kh{ background-position: 0 -1443px; } 
span.flag-ki{ background-position: 0 -1456px; } 
span.flag-km{ background-position: 0 -1469px;  } 
span.flag-kn{ background-position: 0 -1482px;  } 
span.flag-kp{ background-position: 0 -1495px; } 
span.flag-kr{ background-position: 0 -1508px; } 
span.flag-kw{ background-position: 0 -1521px;  } 
span.flag-ky{ background-position: 0 -1534px; } 
span.flag-kz{ background-position: 0 -1547px; } 
span.flag-la{ background-position: 0 -1560px;  } 
span.flag-lb{ background-position: 0 -1573px; } 
span.flag-lc{ background-position: 0 -1586px; } 
span.flag-li{ background-position: 0 -1599px;  } 
span.flag-lk{ background-position: 0 -1612px; } 
span.flag-lr{ background-position: 0 -1625px;  } 
span.flag-ls{ background-position: 0 -1638px; } 
span.flag-lt{ background-position: 0 -1651px;  } 
span.flag-lu{ background-position: 0 -1665px; } 
span.flag-lv{ background-position: 0 -1678px; } 
span.flag-ly{ background-position: 0 -1691px; } 
span.flag-ma{ background-position: 0 -1704px;  } 
span.flag-mc{ background-position: 0 -1718px; } 
span.flag-md{ background-position: 0 -1731px; } 
span.flag-me{ background-position: 0 -1744px; } 
span.flag-mg{ background-position: 0 -1754px; } 
span.flag-mh{ background-position: 0 -1767px;  } 
span.flag-mk{ background-position: 0 -1779px; } 
span.flag-ml{ background-position: 0 -1792px;  } 
span.flag-mm{ background-position: 0 -1805px;  } 
span.flag-mn{ background-position: 0 -1818px; } 
span.flag-mo{ background-position: 0 -1831px; } 
span.flag-mp{ background-position: 0 -1844px; } 
span.flag-mq{ background-position: 0 -1857px; } 
span.flag-mr{ background-position: 0 -1870px;  } 
span.flag-ms{ background-position: 0 -1883px; } 
span.flag-mt{ background-position: 0 -1896px; } 
span.flag-mu{ background-position: 0 -1909px;  } 
span.flag-mv{ background-position: 0 -1922px;  } 
span.flag-mw{ background-position: 0 -1935px;  } 
span.flag-mx{ background-position: 0 -1948px; } 
span.flag-my{ background-position: 0 -1961px; } 
span.flag-mz{ background-position: 0 -1974px; } 
span.flag-na{ background-position: 0 -1987px; } 
span.flag-nc{ background-position: -24px 0; } 
span.flag-ne{ background-position: -24px -13px;  } 
span.flag-nf{ background-position: -24px -26px; } 
span.flag-ng{ background-position: -24px -39px;  } 
span.flag-ni{ background-position: -24px -52px;  } 
span.flag-nl{ background-position: -24px -65px; } 
span.flag-no{ background-position: -24px -78px; } 
span.flag-np{ background-position: -24px -91px; } 
span.flag-nr{ background-position: -24px -104px; } 
span.flag-nu{ background-position: -24px -117px; } 
span.flag-nz{ background-position: -24px -127px; } 
span.flag-om{ background-position: -24px -140px; } 
span.flag-pa{ background-position: -24px -153px; } 
span.flag-pe{ background-position: -24px -166px; } 
span.flag-pf{ background-position: -24px -179px; } 
span.flag-pg{ background-position: -24px -192px;  } 
span.flag-ph{ background-position: -24px -205px; } 
span.flag-pk{ background-position: -24px -218px; } 
span.flag-pl{ background-position: -24px -231px; } 
span.flag-pm{ background-position: -24px -244px; } 
span.flag-pr{ background-position: -24px -257px; } 
span.flag-ps{ background-position: -24px -270px; } 
span.flag-pt{ background-position: -24px -283px; } 
span.flag-pw{ background-position: -24px -296px; } 
span.flag-py{ background-position: -24px -309px; } 
span.flag-qa{ background-position: -24px -322px; } 
span.flag-re{ background-position: -24px -335px; } 
span.flag-ro{ background-position: -24px -348px; } 
span.flag-rs{ background-position: -24px -361px; } 
span.flag-ru{ background-position: -24px -374px; } 
span.flag-rw{ background-position: -24px -387px;  } 
span.flag-sa{ background-position: -24px -400px; } 
span.flag-sb{ background-position: -24px -413px; } 
span.flag-sc{ background-position: -24px -426px;  } 
span.flag-sd{ background-position: -24px -439px; } 
span.flag-se{ background-position: -24px -452px; } 
span.flag-sg{ background-position: -24px -465px; } 
span.flag-si{ background-position: -24px -478px; } 
span.flag-sk{ background-position: -24px -491px; } 
span.flag-sl{ background-position: -24px -504px; } 
span.flag-sm{ background-position: -24px -517px; } 
span.flag-sn{ background-position: -24px -530px;  } 
span.flag-so{ background-position: -24px -543px; } 
span.flag-sr{ background-position: -24px -556px;  } 
span.flag-st{ background-position: -24px -571px;  } 
span.flag-sv{ background-position: -24px -584px;  } 
span.flag-sy{ background-position: -24px -597px;  } 
span.flag-sz{ background-position: -24px -611px; } 
span.flag-tc{ background-position: -24px -624px; } 
span.flag-td{ background-position: -24px -637px;  } 
span.flag-tf{ background-position: -24px -650px; } 
span.flag-tg{ background-position: -24px -663px; } 
span.flag-th{ background-position: -24px -676px; } 
span.flag-tj{ background-position: -24px -689px;  } 
span.flag-tk{ background-position: -24px -702px; } 
span.flag-tm{ background-position: -24px -712px;  } 
span.flag-tn{ background-position: -24px -725px; } 
span.flag-to{ background-position: -24px -738px; } 
span.flag-tp{ background-position: -24px -751px; } 
span.flag-tr{ background-position: -24px -764px; } 
span.flag-tt{ background-position: -24px -777px; } 
span.flag-tv{ background-position: -24px -790px; } 
span.flag-tw{ background-position: -24px -803px; } 
span.flag-tz{ background-position: -24px -816px; } 
span.flag-ua{ background-position: -24px -829px; } 
span.flag-ug{ background-position: -24px -842px; } 
span.flag-uk{ background-position: -24px -855px; } 
span.flag-um{ background-position: -24px -868px;   } 
span.flag-us{ background-position: -24px -880px; } 
span.flag-uy{ background-position: -24px -893px; } 
span.flag-uz{ background-position: -24px -906px;  } 
span.flag-va{ background-position: -24px -919px; } 
span.flag-vc{ background-position: -24px -932px;  } 
span.flag-ve{ background-position: -24px -945px; } 
span.flag-vg{ background-position: -24px -958px; } 
span.flag-vi{ background-position: -24px -971px; } 
span.flag-vn{ background-position: -24px -984px; } 
span.flag-vu{ background-position: -24px -997px;  } 
span.flag-wf{ background-position: -24px -1010px; } 
span.flag-ws{ background-position: -24px -1023px; } 
span.flag-ye{ background-position: -24px -1036px; } 
span.flag-yt{ background-position: -24px -1049px; } 
span.flag-yu{ background-position: -24px -1062px; } 
span.flag-za{ background-position: -24px -1075px; } 
span.flag-zm{ background-position: -24px -1088px;  } 
span.flag-zr{ background-position: -24px -1101px;  } 
span.flag-zw{ background-position: -24px -1114px; } 
